.Saler{
    position: relative;
    top: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    width: 100%;
    max-width: 100vw;
}

.rightSaler{
    flex-grow: 1;
    height: 50vh;
    max-width: 100%;
}
.imageSaler{
    height: 70vh;
    width: 70vh;
    max-width: 100%;
    object-fit: contain;
}
.leftSaler{
   flex-grow: 1;
   height: 0vh;
   width: 50vh;
   padding: 15vh;
   position: relative;
   bottom: 100px;
   max-width: 100%;
}