.collection{
    position: relative;
    top: 40vh;
    width: 100%;
    max-width: 100vw;
}
.collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  padding: 20px;
  width: 100%;
  max-width: 100vw;
}

.cartcollection {
  padding: 15px;
  text-align: center;
  background: white;
  width: 100%;
  max-width: 100%;
}

.title-collection{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20vh;
    width: 100%;
    max-width: 100vw;
}