.blog{
    position: relative;
    top: 45vh;
    width: 100%;
    max-width: 100vw;
}
.allblog{
    display: flex;
    width: 100%;
    max-width: 100vw;
}

.title-blog{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100vw;
}