html, body, #root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.container, .wrapper {
  width: 100%;
  max-width: 100%;
}
